<% comment_owner = comment.owner == @user %>
<% comment_type = "current-user-comment apply_comment_owner_border root" if root && comment_owner %>
<% comment_type = cycle('listing-line-odd', 'listing-line-even') + " apply_border root" if root && !comment_owner %>
<% comment_type = "current-user-comment sub" if !root && comment_owner %>
<% comment_type = cycle('listing-line-odd', 'listing-line-even') + " sub" if !root && !comment_owner %>

<% comment_type += " unread" if !comment_owner && comment.updated_at >= @last_viewed_at %>

<div class="<%= comment_type %> comment-body">
   <div style="font-size :70%;float:right;"><%= image_tag "comment.png" %>   <%= "#{comment.owner.display_name(@post)}" %><br/>
    <%  if parent_comment && false %>
        <%= "#{distance_of_time_in_words(parent_comment.created_at,comment.updated_at) + " later"}" %> <br/>
      <% else %>
        <%= "#{time_ago_in_words(comment.updated_at) + " ago"}" %> <br/>
      <% end %>
  <%= image_tag comment.owner.avatar.url(:thumb),:size=> "32x32"  if comment.owner.avatar.file? %></div>

  <div id="comment_body_<%= comment.id %>" style="width:80%;text-align:justify;">  <%= comment.body %></div>
  <% if comment.owner == @user  %>
      <%= in_place_rich_editor "comment_body_#{comment.id}"  ,:url => { :controller => :comments, :action => :set_comment_body, :pid => @post.unique_id, :id => comment.id, :uid => params[:uid]}, :mode => 'tinymce_advanced_options' %>
  <% end %>
  <% if !@readonlypost %>
      <span style="float:left;clear:left;">
          <%= link_to_remote "#{image_tag("comment_add.png")} reply",  :url => comment.get_url_for_new_comment(@post, @user) %>
      </span>
      <% if current_user && current_user.admin? %>
        <span style="clear:both;float:right;">
            <%= link_to "[X]", comment, :pid => @post.unique_id, :uid => @user.unique_id, :id => comment.id, :method => :delete %>
        </span>
      <% end %>     
  <% end %>
   
  <div id="children_for_<%= comment.id %>">
    <%= render :partial => "/comments/comment", :collection => comment.children , :locals => {:root => nil,:parent_comment => comment } %>
  </div>

</div>
