<% comment_owner = sticky_comment.owner == @user %>
<% comment_type = "unread" if !comment_owner && sticky_comment.updated_at >= @last_viewed_at %>

<div class="comment-body root <%= comment_type %>" style="background-color:yellow;margin-bottom: 2px;" id="sticky_<%= sticky_comment.id %>">
  <div style="float:left;">
    <%= image_tag "pushpin.png" %>
  </div>
   <div style="font-size :70%;float:right;"><%= image_tag "comment.png" %>   <%= "#{sticky_comment.owner.display_name(@post)}" %><br/>
    <%  if parent_comment && false %>
        <%= "#{distance_of_time_in_words(parent_comment.created_at,sticky_comment.updated_at) + " later"}" %> <br/>
      <% else %>
        <%= "#{time_ago_in_words(sticky_comment.updated_at) + " ago"}" %> <br/>
      <% end %>
  </div>

  <div id="comment_body_<%= sticky_comment.id %>" style="width:80%;text-align:justify;clear:both;margin:0 auto;">  <%= sticky_comment.body %></div>
  <% if !@readonlypost %>
      <div style="float:right;">
          <span id="edit_sticky_<%= sticky_comment.id %>">
            <a href="#">Edit | </a>
           </span>
          <% if sticky_comment.owner == @user %>
              <%=  link_to_remote "Delete", :url => { :controller => 'comments', :action => "destroy", :id => sticky_comment.id , :pid => @post.unique_id, :uid => params[:uid]} ,
                              :confirm => "Are you sure you want to delete this sticky post?",
                              :method => :delete %>
          <% end %>
      </div>
      <%= in_place_rich_editor "comment_body_#{sticky_comment.id}"  ,:url => { :controller => :comments, :action => :set_comment_body, :pid => @post.unique_id, :id => sticky_comment.id, :uid => params[:uid]}, :mode => 'tinymce_advanced_options', :external_control => "edit_sticky_#{sticky_comment.id}" %>
      <div style="height:5px;"></div>
  <% end %>
</div>
