<h2>You are replying to </h2>
<div style="background-color:#e9e2e2;margin-bottom:10px;padding:5px;">
<span style="font-size:12px;">
<%= @parent_comment.body %> </span><span style="color:#0062F6;font-size:10px;"> by <%= @parent_comment.owner.display_name(@post) %></span>
</div>
<%  form_remote_tag :url => { :controller => 'comments', :action => "create", :pcid => "#{@parent_comment.id}",:pid => "#{@post.unique_id}",:uid => params[:uid] }, :html => {:id => 'comment_form' },
      :before => "Element.show('n-spinner');", :complete => "Element.hide('n-spinner')" do %>
    
    <%= text_area_tag 'comment_body', nil, :rows => 10, :cols => 100 %><br/>

   <p style="margin-top: 10px;">
      <%= submit_tag 'Add' %><%= image_tag 'spinner.gif', :id=>"n-spinner", :style=>"display:none;" %>
    </p>
  <% end %>

