
Hi there!<br/><br/>

<%= @comment.owner.display_name  %> has added a new comment to <em><%= @post.subject %></em>.<br/>

<div style="background-color: #dcdcdc; padding: 3px;">
  <%=  @comment.body %>
</div>
You can view this comment and follow the contest using the following address:<br/>
<%= link_to @post_url, @post_url %>  <br/><br/>


Enjoy Contest,<br/>
-DoosraCricket Team<br/>

<hr/>
NOTE:<br/>
If you do not want to receive further notifications, please visit the <%= link_to 'contest page', @post_url %>
and update the notification settings under the 'Participants' section.
