
Hi there!<br/><br/>

<%= @user_name %> has added/updated his predicitions on <em><%= @post.subject %></em>.<br/>
<%= @match.description %><br/>
<%= @match.venue %><br/>
<%= @match.display_match_start_time %><br/><br/>

<div style="background-color: #dcdcdc; padding: 3px;">
  <%=  @predicition_details %>
</div><br/>

You can view this predicition and follow the contest using the following address:<br/>
   <%= link_to @match_url, @match_url %>  <br/><br/>
          
<div style="background-color: #dcdcdc; padding: 3px; margin-top: 2px;">
  If you are using Internet Explorer and/or the above link does not work, try copying and pasting it into your browser.<br/>
  If you continue to have problem please feel free to contact us.<br/>
</div><br/>

Enjoy Contest,<br/>
-DoosraCricket Team<br/>

<hr/>
NOTE:<br/>
If you do not want to receive further notifications, please visit the <%= link_to 'contest page', @post_url %>
and update the notification settings under the 'Participants' section.
