
Hi there!<br/><br/>

<%= @user_name %> has added/updated his predicitions on <em><%= @post.subject %></em>.<br/>
<%= "#{@first_team} vs #{@second_team}" %><br/>
<%= @match.description %> @ <%= @match.venue %><br/>
<%= @match.display_match_start_time %><br/><br/>

<div style="background-color: #dcdcdc; padding: 3px;">
  <%=  @predicition_details %>
</div><br/>

You can view the details and follow the contest using the following address:<br/>
   <%= link_to @match_url, @match_url %>  <br/><br/>

Enjoy Contest,<br/>
-DoosraCricket Team<br/>

<hr/>
NOTE: If you do not want to receive further notifications, please visit the <%= link_to 'contest page', @post_url %>
and update the notification settings under the 'Settings' section.