Hi DoosraCricket Umpire!<br/><br/>

<b>Feedback from:</b> <em><%= @user.first_name %> <%= @user.last_name %></em><br/> 
<b>Email:</b> <%= @user.email %>
<br/>
<p> 
<b>Request Type:</b> "<em><%= @experience.feedback_type %></em>"
</p>
<br/>

<p>
  <b>Details:</b><br/>
  <%= @experience.description %>
</p>  
