Hi <%= @user.display_name %>!<br/><br/>

Contest: <%= @post.subject %>
Match: <%= @match_details %>
Date: <%= @match.date %>

is available for prediction"

Please visit this link to play this contest:<br/>
<%= link_to @match_url, @match_url %>  <br/><br/>

Enjoy the contest<br/>
-DoosraCricket Team<br/>

<div style="margin-top: 3px;font-size:12px;">

IMPORTANT NOTE: Please do not forward this mail or share this link provided to you <br/>
 as a way of inviting friends.<br/>

 To invite, please visit the link and invite from there.<br/>
 Each one of your invitees will then get their own unique link.<br/>

 If you have problems viewing this contest, please feel free to contact us.<br/>

NOTE:<br/>
<span style="font-size:85%;color:#333333;">
  If you are not a participant of <em><%= @post.subject %></em> contest, please ignore this email and let us <a href="mailto:doosracricket@gmail.com">know</a><br/>
We sincerely apologize for the inconvenience.
</span>
</div>
