<% form_for(@contest) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class =>"mceNoEditor", :rows => 4 %>
  </p>

  <p>
    <%= f.submit submit_button %> | 
    <%= link_to 'Cancel', contests_path %>
  </p>
<% end %>
