<% if controller.action_name == 'index' %>
    <h1 style="margin-left:12px;color:#21519C">All Series</h1>
<% else %>
    <h1 style="margin-left:12px;color:#21519C">Current Series</h1>
<% end %>

<% @inviter = User.get_open_contest_inviter %>
<% @contests.each do |contest| %>
    <fieldset style="padding:10px;-moz-border-radius:6px;background:#FFEFC6;">
       <% @post = Post.get_open_contest(contest, @inviter) %>
       <% @match = Match.get_next_scheduled_match(contest) %>

          <% @readonly_url = @post.get_readonly_url(@inviter) %>
          <span style="font-size:22px;"><%= link_to h(contest.name), @readonly_url %></span><br/>
          
          <% @post.prizes.each do |prize| %>
            <span style="color:green;font-size:12px;"><%= prize.title %></span><br/>
          <% end %>
          
          <span style="font-size:12px;"><%= link_to "#{contest.matches.count} matches", contest %></span>

          <% if current_user && current_user.admin? %>
              <br/><span style="color:green;font-size:12px;"><%= @post.engagements.size %> participants</span>,
              <span style="color:green;font-size:12px;"><%= contest.posts.size %> series currently running</span>
          <% end %>

          <% if current_user && current_user.admin? && current_user.admin_user? %>
              <br/><%= link_to 'edit', edit_contest_path(contest), :method => :get %>
              <%= link_to '[X]', contest, :confirm => 'Are you sure? This will wipe out this contest and all of its instances.', :method => :delete %><br/>
          <% end %>

          <% if contest.contest_current == true %>
               <span style="float:right;padding-right:10px;"><%= link_to 'Predict / Join', @readonly_url, :class => 'button' %></span>
          <% end %>

      </fieldset>
  <% end %>
  <br/>
  <% if controller.action_name != 'index' %>
      <span style="font-size:140%;padding:12px;"><%= link_to "Previous Series >>", contests_path %></span><br/><br/>
  <% end %>