<h1 style="margin-left:10px;">Current Series</h1>

<fieldset style="padding-bottom:10px;">
    <% @inviter = User.get_open_contest_inviter %>
    <% @contests.each do |contest| %>
         <% @post = Post.get_open_contest(contest, @inviter) %>
         <% @match = Match.get_next_scheduled_match(contest) %>
        
         <p>  
            <% if @match.nil? %>
                <% @readonly_url = @post.get_readonly_url(@inviter) %>
                <span style="font-size:140%;"><%= link_to h(contest.name), @readonly_url %></span><br/>
            <% else %>
                <% @readonly_url = @match.get_readonly_url(@inviter) %>
                <span style="font-size:140%;"><%= link_to h(contest.name), @readonly_url %></span><br/>
            <% end %>
            <span style="font-size:75%;"><%= link_to "#{contest.matches.count} matches", contest %></span>

            <% if current_user && current_user.admin? %>
                <br/><span style="color:green;font-size:70%;"><%= contest.posts.size %> contest currently running</span>
            <% end %>
            
            <% if current_user && current_user.admin? && current_user.admin_user? %>
                <br/><%= link_to 'edit', edit_contest_path(contest), :method => :get %>
                <%= link_to '[X]', contest, :confirm => 'Are you sure? This will wipe out this contest and all of its instances.', :method => :delete %><br/>
            <% end %>
            
            <% if contest.contest_current == true %>
                 <span style="float:right;padding-right:10px;"><%= link_to 'Predict / Join', @readonly_url, :class => 'button general-button' %></span>
            <% end %><br/><br/>
          
        </p>
    <% end %><br/>
    
    <% if controller.action_name != 'index' %>
        <span style="font-size:140%;"><%= link_to "More >>", contests_path %></span>
    <% end %>
    
</fieldset>
