<div id="right">  
  <div id="participants1">
    <h4 style="border-bottom:1px solid #000;font-size:16px;"><%= image_tag "group.png" %> Overall Scores </h4>

    <ul id="participants-list">
    <% unless @users.empty? %>
      <% @users.each do |user| %>
            <div id="participant_details_<%= user.id %>" >
                <% if user.member? %>
                  <li><%= image_tag "user_green.png" %> <%= truncate(user.display_name(nil, nil), 15, "...").titleize %>
                <% else %>
                  <li><%= image_tag "user_green.png" %> <%= truncate(user.display_name(nil, nil), 15, "...").titleize %>
                <% end  %>
                (<%= user.total_score %>)

             <!-- common to both -->
              <%= link_to_function( (image_tag ("bullet_arrow_down.png")),  :id => "more_link_down_#{user.id}") do |page|
                      page.visual_effect  :toggle_blind, "user-details_#{user.id}"
                      page.show "more_link_up_#{user.id}"
                      page.hide "more_link_down_#{user.id}"
                      #page.replace_html 'more_link', "#{image_tag "bullet_arrow_up.png"}"
               end  %>

               <%= link_to_function( (image_tag ("bullet_arrow_up.png")),  :id => "more_link_up_#{user.id}", :style => 'display:none;') do |page|
                      page.visual_effect  :toggle_blind, "user-details_#{user.id}"
                      page.hide "more_link_up_#{user.id}"
                      page.show "more_link_down_#{user.id}"
               end  %>

               <div id="user-details_<%= user.id %>"  style="display:none;">
                    <% if user.avatar? %>
                      <%= image_tag user.avatar.url(:thumb) %>
                    <% else %>
                      No photo available <br/>
                    <% end %>

                   <div class ="user-bio">
                        <b>Twitter Profile:</b><br/>
                         <%= user.screen_name.blank? ? "" : "http://twitter.com/" + user.screen_name %>
                        <b>Blog:</b><br/>
                        <%= link_to user.blog_link, user.blog_link if !user.blog_link.nil? %>
                        <b>Facebook Profile:</b><br/>
                        <%=h user.facebook_link %>
                   </div>
              </div>
              </li>
           </div>
       <% end %>
    <%  end %>
    </ul>
   </div>

</div>