<div id="home-content">
    <div id="dashboard-image"><% image_tag "cricket8.jpg", :size => "440x253" %></div>
    <div id="dashboard-image"><%= image_tag "world_cup_logos.jpg", :size => "280x280" %>
    <%= image_tag "world_cup_mascot.jpg", :size => "150x150" %></div>
    <div id="whatisit-text">
        <div class="blurb_about" style="padding-bottom:15px;margin-top:10px;">Doosra Cricket</div>
            Predict, Discuss, Win and <br/>
            Show your expertise on<br/>
            cricket matches<br/>
            with your friends<br/>
            or the world<br/><br/>
            <span style="text-decoration:underline;"><%= link_to "Learn More", how_to_path %></span>
        
    </div>
    
    <div id="overall-score">
        <%= render :partial => 'overall_score' %>
    </div>

<% if false %>
    <div id="prizes">
        <span style="font-size1:15px;">Winner of all Open Contests receives <b>$25</b> Amazon gift certificate</span>
    </div>
<% end %>

<% if false %>
    <div id="prizes">
          Previous Public Series Winners<br/>will be displayed here
    </div>
<% end %>

<% if false %>
    <div id="world-cup-comming-soon">
      <b>ICC World Cup 2011 Series</b><br/><span style="color:red;font-weight:bold;">56 <a href="http://doosracricket.com/prizes">prizes</a>, one every match </span><br/> <span style="font-size:12px;"><a href="http://doosracricket.com/prizes#special_offer">Share</a> with friends and get additional credits</span>                                                                                                                                    
    </div>
<% end %>

    <div id="world-cup-comming-soon">
      <b>Indian Premier League, 2011</b><br/><span style="color:red;font-weight:bold;">coming soon !!!</span><br/> 
    </div>

    <div id="facebook-box">                   
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDoosra-Cricket%2F183722284976292%3Fv%3Dpage_getting_started%23%21%2Fpages%2FDoosra-Cricket%2F183722284976292&amp;width=270&amp;colorscheme=light&amp;connections=10&amp;stream=false&amp;header=false&amp;height=160" scrolling="no" frameborder="0" style="border:medium; overflow:hidden; width:270px; height:160px;" allowTransparency="true"></iframe>
    </div>

    <div id="sponsor">
        <div style="padding-bottom:20px;"><b>Doosra Cricket</b> is looking for sponsors to reward the winners</div>
        <span style="font-size:12px;line-height:1.2em;">For more information contact us at <br/><a href="mailto:doosracricket@gmail.com">doosracricket@gmail.com</a></span>
   </div>

    <div id="display-contests">
        <%= render :partial => 'display_contests', :collections => @contests %>
    </div>

    <div id="display-winners">
        <%= render :partial => 'display_winners', :collections => @contests %>
    </div>

    <div id="live-score">
        <% if ENV['RAILS_ENV'] == 'development' %>
            <!-- VCricket Score Feed Code Start v 3.00 --><script language="JavaScript" type="text/JavaScript" src="http://ifeed.vcricket.com/get_code.aspx?dk=CC8EF9B5BDCF49FAAAA1748410BCC0E1&amp;sc=&amp;sz=180x320"></script><noscript><a href="http://www.vcricket.com/help.aspx?q=java_disable"  target="_blank"><img src="http://images-1.vcricket.com/images/error_java_180x320.gif"  alt="Javascript is disabled." width="180" height="320" border="0" /></a></noscript><!-- Please note this will not work if directly run in browser. --><!-- VCricket Score Feed Code End -->
        <% else %>
            <!-- VCricket Score Feed Code Start v 3.00 --><script language="JavaScript" type="text/JavaScript" src="http://ifeed.vcricket.com/get_code.aspx?dk=EA51DCF457B04028A2EA7CC12F597453&amp;sc=&amp;sz=180x320"></script><noscript><a href="http://www.vcricket.com/help.aspx?q=java_disable"  target="_blank"><img src="http://images-1.vcricket.com/images/error_java_180x320.gif"  alt="Javascript is disabled." width="180" height="320" border="0" /></a></noscript><!-- Please note this will not work if directly run in browser. --><!-- VCricket Score Feed Code End -->
        <% end %>
    </div>

    <div id="live-news">
   
<!-- Feedzilla Widget BEGIN -->

<div class="feedzilla-news-widget feedzilla-9038445297239909" style="width:540px; padding: 0; text-align: center; font-size: 11px; border: 0;">
<script type="text/javascript" src="http://widgets.feedzilla.com/news/iframe/js/widget.js"></script>
<script type="text/javascript">
new FEEDZILLA.Widget({
	style: 'slide-top-to-bottom',
	culture_code: 'en_us',
	c: '27',
	sc: '1412',
	contentBackgroundColor: '#ffffff',
	title: 'Cricket News',
        order: 'relevance',
	count: '20',
	w: '540',
	h: '322',
	timestamp: 'true',
	scrollbar: 'false',
	theme: 'ui-lightness',
	className: 'feedzilla-9038445297239909'
});
</script><br />

</div>

<!-- Feedzilla Widget END -->
    </div>


    <div id="footer-dashboard">
        <%= render 'layouts/footer' %>
    </div>
</div>


