<div id="home-content">
    <div id="dashboard-image"><%= image_tag "cricket8.jpg", :size => "440x250" %></div>

    <div id="whatisit-text">
        <div class="blurb_about" style="text-align:center;">Doosra Cricket</div>
        <div  class="blurb_about_line" style="padding-left:25px;color:#21519C;font-size:20px;font-weight:bold;">Predict, Discuss, Win and <br/> 
            <span style="padding-left:15px;">Show your expertise on</span><br/><br/>
            <span style="padding-left:45px;">cricket matches</span><br/><br/>
            <span style="padding-left:25px;">publicly or privately</span><br/><br/>
            <span style="float:right;font-size:16px;"><%= link_to "Learn More", how_to_path %></span>
        </div>
    </div>
    
    <div id="overall-score">
        <%= render :partial => 'overall_score' %>
    </div>

<% if false %>
    <div id="prizes">
        <span style="font-size1:15px;">Winner of all <b>open contests</b> receives <b>$25</b> Amazon gift certificate</span>
    </div>
<% end %>

    <div id="prizes">
          Winner of previous <b>open contests</b><br/> 
          <span style="padding-left:45px;">will be displayed here</span><br/>
    </div>

    <div id="facebook-box">            
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDoosra-Cricket%2F183722284976292%3Fv%3Dpage_getting_started%23%21%2Fpages%2FDoosra-Cricket%2F183722284976292&amp;width=270&amp;colorscheme=light&amp;connections=10&amp;stream=false&amp;header=false&amp;height=250" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:250px;" allowTransparency="true"></iframe>
    </div>

<% if false %>
    <div id="sponsor">
        <div style="padding-bottom:20px;"><b>Doosra Cricket</b> is looking for sponsors to reward the winners</div>
        <span style="font-size:12px;line-height:1.2em;">For more information contact us at <br/><a href="mailto:doosracricket@gmail.com">doosracricket@gmail.com</a></span>
   </div>
<% end %>

    <div id="contests-display">
        <%= render :partial => 'display_contests', :collections => @contests %>
    </div>

    <div id="footer-dashboard">
        <%= render 'layouts/footer' %>
    </div>
</div>


