<br/>
    
<div id="home-content">
    <div id="dashboard-image"><%= image_tag "cricket8.jpg", :size => "440x250" %></div>

    <div id="whatisit-text">
        <div class="blurb_about">Doosra Cricket</div>
        <div  class="blurb_about_line" style="padding-left:25px;color:#3B5998;font-size:20px;font-weight:bold;">Predict, Discuss, Win and <br/> Show your expertise<br/><br/>
            <span style="padding-left:60px;">on matches</span><br/><br/>
            <span style="padding-left:30px;">Publically or Privately</span><br/><br/>
            <span style="float:right;font-size:16px;"><%= link_to "Learn More", how_to_path %></span>
        </div>
    </div>
    


    <div id="facebook-box">            
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDoosra-Cricket%2F183722284976292%3Fv%3Dpage_getting_started%23%21%2Fpages%2FDoosra-Cricket%2F183722284976292&amp;width=270&amp;colorscheme=light&amp;connections=10&amp;stream=false&amp;header=false&amp;height=250" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:250px;" allowTransparency="true"></iframe>
    </div>
  
    <div id="overall-score">
        <%= render :partial => 'overall_score' %>
    </div>

    <div id="contests-display">
        <%= render :partial => 'display_contests', :collections => @contests %>
    </div>

    <div id="footer-dashboard">
        <%= render 'layouts/footer' %>
    </div>
 </div>


