<div id="home-content">
    <div id="dashboard-image"><% image_tag "cricket8.jpg", :size => "440x253" %></div>
    <div id="dashboard-image"><%= image_tag "world_cup_logos.jpg", :size => "440x280" %></div>

    <div id="whatisit-text">
        <div class="blurb_about" style="padding-bottom:15px;margin-top:10px;">Doosra Cricket</div>
            Predict, Discuss, Win and <br/>
            Show your expertise on<br/>
            cricket matches<br/>
            with your friends<br/>
            or the world<br/><br/>
            <span style="text-decoration:underline;"><%= link_to "Learn More", how_to_path %></span>
        
    </div>
    
    <div id="overall-score">
        <%= render :partial => 'overall_score' %>
    </div>

<% if false %>
    <div id="prizes">
        <span style="font-size1:15px;">Winner of all Open Contests receives <b>$25</b> Amazon gift certificate</span>
    </div>
<% end %>

<% if false %>
    <div id="prizes">
          Previous Public Series Winners<br/>will be displayed here
    </div>
<% end %>

    <div id="world-cup-comming-soon">
        World Cup 2011 Series<br/>Many prizes to be won<br/> <span style="color:red">COMING SOON on 7th Feb</span>
    </div>

    <div id="facebook-box">                   
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDoosra-Cricket%2F183722284976292%3Fv%3Dpage_getting_started%23%21%2Fpages%2FDoosra-Cricket%2F183722284976292&amp;width=270&amp;colorscheme=light&amp;connections=10&amp;stream=false&amp;header=false&amp;height=250" scrolling="no" frameborder="0" style="border:medium; overflow:hidden; width:270px; height:250px;" allowTransparency="true"></iframe>
    </div>


    <div id="sponsor">
        <div style="padding-bottom:20px;"><b>Doosra Cricket</b> is looking for sponsors to reward the winners</div>
        <span style="font-size:12px;line-height:1.2em;">For more information contact us at <br/><a href="mailto:doosracricket@gmail.com">doosracricket@gmail.com</a></span>
   </div>


    <div id="display-contests">
        <%= render :partial => 'display_contests', :collections => @contests %>
    </div>

    <div id="live-score">
        <% if ENV['RAILS_ENV'] == 'development' %>
            <!-- VCricket Score Feed Code Start v 3.00 --><script language="JavaScript" type="text/JavaScript" src="http://ifeed.vcricket.com/get_code.aspx?dk=CC8EF9B5BDCF49FAAAA1748410BCC0E1&amp;sc=&amp;sz=180x320"></script><noscript><a href="http://www.vcricket.com/help.aspx?q=java_disable"  target="_blank"><img src="http://images-1.vcricket.com/images/error_java_180x320.gif"  alt="Javascript is disabled." width="180" height="320" border="0" /></a></noscript><!-- Please note this will not work if directly run in browser. --><!-- VCricket Score Feed Code End -->
        <% else %>
            <!-- VCricket Score Feed Code Start v 3.00 --><script language="JavaScript" type="text/JavaScript" src="http://ifeed.vcricket.com/get_code.aspx?dk=EA51DCF457B04028A2EA7CC12F597453&amp;sc=&amp;sz=180x320"></script><noscript><a href="http://www.vcricket.com/help.aspx?q=java_disable"  target="_blank"><img src="http://images-1.vcricket.com/images/error_java_180x320.gif"  alt="Javascript is disabled." width="180" height="320" border="0" /></a></noscript><!-- Please note this will not work if directly run in browser. --><!-- VCricket Score Feed Code End -->
        <% end %>
    </div>

    <div id="live-news">
        <!-- Begin Feedzilla news widget Code --><script type='text/javascript' src='http://www.feedzilla.com/tools/swfobject.js'></script><script type='text/javascript'>var flashvars = {id:'undefined',code:'Flash',c:'nw',scroll:'v',prov:'news',cat:'Sports',cat2:'Cricket',width:'180',height:'300',num_articles:'10',show_summaries:'yes',show_sources:'Yes',show_dates:'Yes',title:'',title_size:'14pt',title_bold:'Yes',keywords:'',url:'',headers_size:'14pt',font_size:'10pt',font_family:'Arial',text_alignment:'Left',space:'Yes',titlecolor:'#15aa15',fcolor:'#2200cc',desccolor:'#1b1b1b',sourcecolor:'#008000',datecolor:'#777777',bgcolor:'#ffffff',ref:document.location.href};var params = {scale:'noscale',salign:'lt',bgcolor:'#ffffff'};var attributes = {};swfobject.embedSWF('http://www.feedzilla.com/tools/news-widget.swf', 'Feedzilla_news_widget_undefined', '180', '300', '9.0.0','',flashvars, params, attributes);</script><div align='center' id='Feedzilla_container_undefined' style='text-align:center;width:180px;'><div id='Feedzilla_container2_undefined' style='text-align:center;height:300px;width:180px;border:1px solid #cccccc'><div id='Feedzilla_news_widget_undefined'></div></div><font style='font-size:10px;'><a title='Free news widgets' href='http://www.feedzilla.com' style='text-decoration:none;font-size:10px;'>News widgets</a> and <a title='Free RSS feeds' href='http://www.feedzilla.com/rss.asp' style='text-decoration:none;font-size:10px;'>RSS</a></font></div><!-- End Feedzilla news widget Code -->
    </div>

    <div id="display-winners">
        <%= render :partial => 'display_winners', :collections => @contests %>
    </div>

    <div id="footer-dashboard">
        <%= render 'layouts/footer' %>
    </div>
</div>


