<% if current_user && current_user.admin? && current_user.admin_user? %>
    <% link_to "Add New Match",  :controller => 'matches', :action => 'new', :contest_id => @contest.id, :user_id => current_user.id %>  <br/>    
    <%= button_to "Add New Match",  new_contest_match_path(@contest, @match), :method => 'get' %>      
<% end %>

<span style="float:left;padding-top:5px;margin-left:10px;">
    <div class='subject'><%=h @contest.name %></div>
    <span style="margin-left:2px;"><%=h @contest.description %></span><br/><br/>
</span><br/>

<div id="signup-btn">
    <%= button_to "Start a Contest", new_contest_post_path(@contest), :method => :get %>
</div><br/>

<fieldset style="clear:both;">
    <% if @contest.matches.size > 0 %>
        <legend><b><span style="font-size:140%">Listing Matches</span></b></legend><br/>
        <%= render :partial => 'match', :collection => @contest.matches %><br/>
    <% end %>    
</fieldset>

<% link_to 'Edit', edit_contest_path(@contest) %>
<% link_to 'Back', contests_path %>