<% if current_user && current_user.admin? && current_user.admin_user? %>
    <% link_to "Add New Match",  :controller => 'matches', :action => 'new', :contest_id => @contest.id, :user_id => current_user.id %>  <br/>    
    <%= button_to "Add New Match",  new_contest_match_path(@contest, @match), :method => 'get' %>      
<% end %>

<p>
  <div class='subject'><%=h @contest.name %></div>
</p>

<p>
  <%=h @contest.description %>
</p>
<h3 style="border-bottom:1px solid #000;"></h3>

<span style="font-size:140%;">Listing Matches</span>
<%= render :partial => 'match', :collection => @contest.matches %>
<br/>
<div id="signup-btn">
    <%= button_to "Start a Contest", contests_path, :method => :get %>
</div>

<% link_to 'Edit', edit_contest_path(@contest) %>
<% link_to 'Back', contests_path %>