
<script type="text/javascript">
  function openWindow(url) {
    var w = 480, h = 340;

      if (document.all) {
         /* the following is only available after onLoad */
         w = document.body.clientWidth;
         h = document.body.clientHeight;
      }
      else if (document.layers) {
         w = window.innerWidth;
         h = window.innerHeight;
      }
      var popW = 800, popH = 450;
      var leftPos = (w)/2, topPos = (h)/2;
      window.open(url, 'Authorize','width=' + popW + ',height='+popH+',top='+topPos+ ',left='+leftPos);

      return false;
    }
</script>

<fieldset>
    <%= render :partial => 'spectators/match_details', :member => @match, :locals => {:match => @match} %>
</fieldset>

<fieldset style="width:600px;">
    <% if current_user && current_user.admin? && current_user.admin_user? %>
         <b><span style='color:red'>Caution! You are a Super Admin. Your predicitions will be used to set the results.</span></b><br/><br/>
         <% form_remote_tag :url => {:controller => 'predicitions', :action => 'admin_predicition', :mid => @match.unique_id } do %>
            Match Result: <%= text_field_tag :match_result, "", :size => 60 %><br/><br/>
            <%= render :partial => 'predict' %>
            <%= submit_tag 'Save Results' %>
         <% end %>
    <% else %>
        <% if @engagement.nil? %>
              <%= render :partial => 'predict' %>
        <% else %>
             <% form_remote_tag :url => {:controller => 'predicitions', :action => 'user_predicition', :mid => @match.unique_id, :eid => @engagement.unique_id } do %>
                <%= render :partial => 'predict' %>
                <%= submit_tag 'Save Predictions' %>
             <% end %>
        <% end %>
    <% end %>
</fieldset>