<h1>Editing predicition</h1>

<% form_for(@predicition) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :result %><br />
    <%= f.text_field :result %>
  </p>

  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>

  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>

  <p>
    <%= f.label :entry %><br />
    <%= f.text_field :entry %>
  </p>

  <p>
    <%= f.label :match %><br />
    <%= f.text_field :match %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @predicition %> |
<%= link_to 'Back', predicitions_path %>