<fieldset>
    <h2 style="margin-left:5px;"><%=h @user.display_name %>
      <% if current_user && current_user.admin? %>
        <span style="font-size:8pt">(<%= link_to 'Edit Settings', :controller => 'users', :action => 'edit', :id => @user.unique_id %>)</span>
      <% end %>
    </h2>

    <p>
    <b>Photo: </b><%= image_tag @user.avatar.url(:thumb) %>
    </p>

    <p>
      <b>Email:</b>
      <%=h @user.email %>
    </p>

    <p>
      <b>Twitter Profile:</b>
       <%= @user.screen_name.blank? ? "" : "http://twitter.com/" + @user.screen_name %>
    </p>

    <p>
      <b>Blog:</b>
      <%=h @user.blog_link %>
    </p>

    <p>
      <b>Facebook Profile:</b>
      <%=h @user.facebook_link %>
    </p>

</fieldset>