<div class="heading">My Contacts</div>

<div class="group">      
    <div class="group-name"> Groups (<%= current_user.groups.count %>) </div>
    <% current_user.groups.each do |group| %>
        <div class="contact <%= cycle('listing-line-odd', 'listing-line-even') %>">
              <div class="contact-name"><%= link_to "#{group.name}", :controller => 'users', :action => 'groups', :id => group.name  %></div>
        </div>
    <% end %>
</div>

<div class="group">      
    <div class="group-name"> Extended Circle (<%= current_user.get_extended_circle_contacts.count %>)</div>
    <% current_user.get_extended_circle_contacts.each do |contact| %>      
        <div class="contact <%= cycle('listing-line-odd', 'listing-line-even') %>">
            <div class="contact-name"><%= link_to contact.display_name, :controller => 'users', :action => 'display_profile', :id => contact %></div>
            <div class="contact-info"><%= "email: " + contact.email unless contact.email.include?("nonmember") %></div>
            <div class="contact-info"><%= "twitter: @" + contact.screen_name unless contact.screen_name.blank? %></div>
            <div class="contact-info"><%= "Tags: " + contact.tag_list unless contact.tag_list.blank? %></div>
        </div>
    <% end %>
</div>

<div style="height:10px;"></div>
<div><hr></div>