
<div class="heading">My Contacts</div>
<% @groups.each do |group| %>
    <div class="contact1 <%= cycle('listing-line-odd', 'listing-line-even') %>">
      <div class="contact-name"><%= link_to "#{group.name}", :controller => 'users', :action => 'groups'  %></div>
    </div>
<% end %>

<div id="group-layout-right">
    <div class="group">      
        <div class="group-name"> Inner Circle </div>
        <% current_user.groups.each do |group| %>      
              <% next if group.name != 'ic' %>
              <% group.memberships.each do |membership| %>
                  <div class="contact <%= cycle('listing-line-odd', 'listing-line-even') %>">
                      <div class="contact-name"><%= membership.user.display_name %></div>
                      <div class="contact-info"><%= "email: " + membership.user.email unless membership.user.email.include?("nonmember") %></div>
                      <div class="contact-info"><%= "twitter: @" + membership.user.screen_name unless membership.user.screen_name.blank? %></div>
                      <div class="contact-info"><%= "Tags: " + membership.user.tag_list unless membership.user.tag_list.blank? %></div>
                  </div>
              <% end %>
        <% end %>
    </div>
</div>

<div class="group">      
    <div class="group-name"> Extended Circle </div>
    <% current_user.groups.each do |group| %>      
          <% next if group.name != 'ec'%>
          <% group.memberships.each do |membership| %>
              <div class="contact <%= cycle('listing-line-odd', 'listing-line-even') %>">
                  <div class="contact-name"><%= membership.user.display_name %></div>
                  <div class="contact-info"><%= "email: " + membership.user.email unless membership.user.email.include?("nonmember") %></div>
                  <div class="contact-info"><%= "twitter: @" + membership.user.screen_name unless membership.user.screen_name.blank? %></div>
                  <div class="contact-info"><%= "Tags: " + membership.user.tag_list unless membership.user.tag_list.blank? %></div>
              </div>
          <% end %>
    <% end %>
</div>

<div style="height:10px;"></div>
<div><hr></div>