
<p>
  <b>Result:</b>
  <%=h @result.result %>
</p>


<p>
  <b>Match:</b>
  <%=h @result.match %>
</p>


<p>
  <b>Entry:</b>
  <%=h @result.entry %>
</p>



<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>