<script type="text/javascript">
        function onABCommComplete() {
                Plaxo.abl.abWin.close();
        }
</script>
<script type="text/javascript">
        $j(function(){  
           $j('#tabs').tabs();
      });
 </script>
<style type="text/css">
        #gallery { float: left; width: 325px; min-height: 18em; height:418px;overflow:auto;} * html #gallery { height: 12em; } /* IE6 */
        .gallery.custom-state-active { background: #eee; }
        .gallery li, #trash li { float: left; width: 300px; margin: 0 0.4em 0.4em 0; text-align: left; clear: both;list-style-type:none;}
        .gallery li h5, #trash li h5 { margin: 0 0 0.4em; cursor: move; font-size:12px;color:#0B84E8; padding-left:2px;}
        .gallery li a, #trash li a { float: right; }
        .gallery li a.ui-icon-zoomin, #trash li a.ui-icon-zoomin { float: left; }
        .gallery li img { width: 100%; cursor: move; }

        #trash { float: right; width: 325px; min-height: 18em; padding: 1%;height:400px;overflow:auto;} * html #trash { height: 18em; } /* IE6 */
        #gallery h4, #trash h4 { line-height: 16px; margin: 0 0 0.4em; text-align: center;}
        #trash h4 .ui-icon { float: left; }
        #trash .gallery h5 { display: none; }
                  .ui-name {
                  background:url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x scroll 50% 50% #DEEDF7;
                  color:#222222;
                  font-weight:bold;
                  }
                  .reco-name {
                    color: #008000 !important;
                  }
        .ui-tabs {width: 768px;font-family:inherit;}

    </style>
    <script type="text/javascript">
        $j(function() {
            // there's the gallery and the trash
            var $gallery = $j('#gallery'), $trash = $j('#trash');

            // let the gallery items be draggable
            $j('li',$gallery).draggable({
                cancel: 'a.ui-icon',// clicking an icon won't initiate dragging
                revert: 'invalid', // when not dropped, the item will revert back to its initial position
                containment: $j('#demo-frame').length ? '#demo-frame' : 'document', // stick to demo-frame if present
                helper: 'clone',
                cursor: 'move'
            });

            // let the trash be droppable, accepting the gallery items
            $trash.droppable({
                accept: '#gallery > li',
                activeClass: 'ui-state-highlight',
                drop: function(ev, ui) {
                    deleteImage(ui.draggable);
                }
            });

            // let the gallery be droppable as well, accepting items from the trash
            $gallery.droppable({
                accept: '#trash li',
                activeClass: 'custom-state-active',
                drop: function(ev, ui) {
                    recycleImage(ui.draggable);
                }
            });

            // image deletion function
            var recycle_icon = '<a href="link/to/recycle/script/when/we/have/js/off" title="Click to Remove this contact" class="ui-icon ui-icon-refresh">Recycle image</a>';
            function deleteImage($item) {
                $item.fadeOut(function() {
                    var $list = $j('ul',$trash).length ? $j('ul',$trash) : $j('<ul class="gallery ui-helper-reset"/>').appendTo($trash);

                    $item.find('a.ui-icon-mail-closed').remove();
                    $item.append(recycle_icon).appendTo($list).fadeIn(function() {
                        $item.animate({ width: '300px' }).find('img').animate({ height: '72px' });
                        $item.animate({ width: '300px' }).find('h5').animate({ height: '20px' });
                    });
                    $item.find("input").addClass('added');
                });
            }

            // image recycle function
            var trash_icon = '<a href="link/to/trash/script/when/we/have/js/off" title="Click to Invite this contact" class="ui-icon ui-icon-mail-closed">Delete image</a>';
            function recycleImage($item) {
                $item.fadeOut(function() {
                    $item.find('a.ui-icon-refresh').remove();
                    $item.css('width','300px').append(trash_icon).find('img').css('height','17px').end().appendTo($gallery).fadeIn();
                });
                $item.find("input").removeClass('added');
            }

            // image preview function, demonstrating the ui.dialog used as a modal window
            function viewLargerImage($link) {
                var src = $link.attr('href');
                var title = $link.siblings('img').attr('alt');
                var $modal = $j('img[src$="'+src+'"]');

                if ($modal.length) {
                    $modal.dialog('open')
                } else {
                    var img = $j('<img alt="'+title+'" width="384" height="288" style="display:none;padding: 8px;" />')
                        .attr('src',src).appendTo('body');
                    setTimeout(function() {
                        img.dialog({
                                title: title,
                                width: 400,
                                modal: true
                            });
                    }, 1);
                }
            }

            // resolve the icons behavior with event delegation
            $j('ul.gallery > li').click(function(ev) {
                var $item = $j(this);
                var $target = $j(ev.target);

                if ($target.is('a.ui-icon-mail-closed')) {
                    deleteImage($item);
                } else if ($target.is('a.ui-icon-zoomin')) {
                    viewLargerImage($target);
                } else if ($target.is('a.ui-icon-refresh')) {
                    recycleImage($item);
                }

                return false;
            });
        });

        function getValues()
        {
          $a = "";
          $j('.added').each(function() {
            $a += "," + $j(this).val();
          });          
          return $a.substring(1);
        }
    </script>
<script type="text/javascript">
  function openWindow(url) {
    var w = 480, h = 340;

      if (document.all) {
         /* the following is only available after onLoad */
         w = document.body.clientWidth;
         h = document.body.clientHeight;
      }
      else if (document.layers) {
         w = window.innerWidth;
         h = window.innerHeight;
      }
      var popW = 800, popH = 450;
      var leftPos = (w)/2, topPos = (h)/2;
      window.open(url, 'Authorize','width=' + popW + ',height='+popH+',top='+topPos+ ',left='+leftPos);
      
      return false;
    }


</script>


<fieldset>
     <h3>Know exactly who would be interested in this contest? Go ahead and invite them.</h3>
        <div id="tabs">
              <ul>
                      <% if @user.member? %>
                            <li><a href="#invite-ev">Invite from Addressbook</a></li>
                      <% end %>
                      <li><a href="#show_email_form">Invite using Email</a></li>
                      <% if false %>
                            <li><a href="#get_twitter_auth">Invite using Twitter</a></li>
                      <% end %>
              </ul>

              <div id="show_email_form">
                    <%  form_remote_tag :url => { :controller => 'engagements', :action => "create", :post_id => "#{@post.id}", :invite_type => 'email',:uid => "#{@user.unique_id}" },
                      :before => "Element.show('ab-spinner');",
                      :complete => "Element.hide('ab-spinner')" do %>
                                    <span class="invite-page-header">Add from any Addressbook:</span>
                                    <a href="#" onclick="showPlaxoABChooser('email_invitees', '/posts/plaxo'); return false"><img src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt="Add from my address book" /></a><br/>

                                      <div style="font-size: 10px;">Separate multiple addresses with a comma. <br/> Limit to 10 at a time. </div>
                                      <%= text_area_tag :email_invitees ,"",  :class =>"mceNoEditor",:rows => 10, :cols => 43 %>
                                  <div style="margin-top: 10px;">
                                  <%= submit_tag 'Send Email Invites' %><%= image_tag 'spinner.gif', :id=>"ab-spinner", :style=>"display:none;" %>
                                  </div>
                  <% end %>
              </div>

  <% if @user.member? %>
              <div id="invite-ev">                   
                <div style="text-align:center;font-size:10px;">Drag contacts from the left to the right or simply click on the mail icon next to each contact to invite</div>
                      <div class="ui-widget ui-helper-clearfix">
                        
                       
                          <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
                             <h4 class="ui-widget-header"><%= image_tag "group_add.png" %> My Network</h4>
                                  <% @user.get_address_book_contacts.each do |contact| %>
                                  <%  next if contact.id == @user.id %>
                                  <li class="ui-widget-content ui-corner-tr">
                                        <% if @reco_users_ids.include?(contact.id) %>
                                        <h5 class="ui-name reco-name"><%= contact.display_name %></h5>
                                        <% else %>
                                        <h5 class="ui-name"><%= contact.display_name %></h5>
                                        <% end %>
                                        <a href="link/to/trash/script/when/we/have/js/off" title="Click to Invite this contact" class="ui-icon ui-icon-mail-closed">Invite</a>
                                        <input type="hidden" value="<%= contact.unique_id %>">
                                  </li>
                                <% end %>
                          </ul>
                        
                          <ul id="trash" class="ui-helper-reset ui-widget-content ui-state-default">
                              <h4 class="ui-widget-header"><span class="ui-icon ui-icon-mail-closed">Invitees</span> Invitees</h4>
                          </ul>

                      </div>
                      <div style="margin-top: 10px;">
                      <%= button_to_remote "Send Invites", {:url => { :controller => 'engagements', :action => "create", :post_id => "#{@post.id}", :invite_type => 'email',:uid => "#{@user.unique_id}" },
                        :before => "Element.show('ev-spinner');", :complete => "Element.hide('ev-spinner')",
                          :update => 'added_users',:with=>"'ev_contacts=' + getValues()"  } %>
                        <%= image_tag 'spinner.gif', :id=>"ev-spinner", :style=>"display:none;" %>
                      </div>

              </div>
     <% end %>
<% if false %>
              <div id="get_twitter_auth">
                  <% if @followers.nil? %>
                         <p  style="font-size: 12px;">
                            Easy to reach some of your friends at their Twitter hangouts? No Problem.<br/><br/>
                            DoosraCricket can send invitations directly to their Twitter accounts.<br/><br/>

                            Click on the button below to be redirected to Twitter where you can authorize<br/>
                            DoosraCricket to access your account. <br/><br/>
                            This privilege will be used only to gather your list of followers and <br/>
                            send invites via direct messages to them.<br/><br/>

                            Note: This is a one-time only operation. 
                          </p>
                        
                        <%=  button_to_function "Redirect me to Twitter", "openWindow(\'#{@authorization_url}\')"  %>
                  <% else %>
                         <%= render :partial => 'engagements/followers' %>                         
                  <% end %>
              </div>
<% end %>
          <div id="invite-status" style="background-color:#378314;font-weight:bold;color:#fff;"></div>

        </div>
</fieldset>