<div id="right" style="background:#fff;">
   <% @number_of_participants = @post.engagements.size %>
   <% if @number_of_participants > 10 %>
       <div id="participants" style="height:380px;overflow:auto;">
   <% else %>
       <div id="participants">
   <% end %>
 
   <div class="tc-row" style="font-size:20px;padding-top:12px;font-weight:bold;padding-bottom:10px;">Contest Standing 
      <div style="font-size:10px;"> <%= "#{@number_of_participants}" %> participants</div>
   </div>

   <% viewed_count = 0 %>
        <% unless @post.spectators.empty? %>
            <% rank = 1 %>
            <% @post.engagements.find(:all, :order => 'totalscore desc', :include => :invitee).each do |engagement| %>
               <div class="tc-row">
                    <span style="float:left;">
                        <div class="tc-row-rank"><%= "#{rank}" %></div>
                    </span>
                    <% rank += 1 %>
                    <span style="float:left;">
                       <%= image_tag get_fb_profile_picture(engagement.invitee.id), :size => "36x32" %>
                    </span>

                    <span style="float:left;margin-left:5px;">
                        <% @display_name = truncate(engagement.invitee.display_name(nil,engagement), 15, "...").titleize %>
                        
                        <% if current_user && current_user.admin? %>
                            <%= link_to "#{@display_name}", :controller => 'users', :action => 'display_profile', :id => engagement.invitee.id %>
                        <% else %>
                            <span style="color:#21519C;"><%= "#{@display_name}" %></span>
                        <% end %>

                        <% if @user.admin? %>
                            <% number_of_matches_predicted = 0 %>
                            <% @contest.matches.each do |match| %>
                                <% prediction = engagement.spectators.find_by_match_id(match, :include => :predicitions).predicitions.find(:first) %>  
                                <% number_of_matches_predicted += 1 if prediction.user_predicition != -1 %>
                            <% end %>                            
                        <% end %>

    
                        <div style="font-size:10px;"><%= engagement.totalscore.nil? ? 0 : engagement.totalscore %> points 
                            <% if @user.admin? %>
                                (<%= number_of_matches_predicted %> matches)
                            <% end %>
                        </div>
                        
                    </span> 

                    <% if @post.owner.id == @user.id && engagement.invitee.id != @user.id %>
                        <%= link_to_function( (image_tag ("bullet_arrow_down.png")),  :id => "more_link_down_#{engagement.invitee.id}") do |page|
                                page.visual_effect  :toggle_blind, "user-details_#{engagement.invitee.id}"
                                page.show "more_link_up_#{engagement.invitee.id}"
                                page.hide "more_link_down_#{engagement.invitee.id}"
                                #page.replace_html 'more_link', "#{image_tag "bullet_arrow_up.png"}"
                        end  %>

                        <%= link_to_function( (image_tag ("bullet_arrow_up.png")),  :id => "more_link_up_#{engagement.invitee.id}", :style => 'display:none;') do |page|
                                page.visual_effect  :toggle_blind, "user-details_#{engagement.invitee.id}"
                                page.hide "more_link_up_#{engagement.invitee.id}"
                                page.show "more_link_down_#{engagement.invitee.id}"
                        end  %>

                        <div id="user-details_<%=engagement.invitee.id %>"  style="display:none;">
                            <div id="resend_<%= engagement.invitee.id %>" style="float:right;margin-bottom:10px;">
                                <%= button_to_remote 'Resend Invite', :url => {:controller => 'engagements', :action => 'resend_invite', :id => engagement.id, :post_id => @post.id} %>
                            </div>

                            <div id="exclude_<%= engagement.invitee.id %>" style="float:left;margin-bottom:10px;">
                                <%= button_to_remote 'Exclude', :url => {:controller => 'engagements', :action => 'exclude', :id => engagement.id } %>
                            </div>
                        </div>
                    <% end %>
                 </div>
              
               <%  viewed_count = viewed_count + 1 if engagement.last_viewed_at != nil %>
           <% end %>
       <%  end %>
    
       <% if @post.owner.id == @user.id || @user.admin? %>
            <%= viewed_count %> participant(s) have viewed this post.
       <% end %>
   </div>
</div>