<div id="parent-post">
  <div class="subject"><%=h get_teamname(@match.firstteam) %> vs <%=h get_teamname(@match.secondteam) %><br/></div>
  <%=h @match.description %> @ <%=h @match.venue %><br/>
  <%= @match.display_match_start_time %>
</div>
