<div id="right">  
  <div id="participants">
    <h4 style="border-bottom:1px solid #000;"><%= image_tag "group.png" %> Match Standing</h4>

 <% viewed_count = 0 %>
   <ul id="participants-list">
    <% unless @post.spectators.empty? %>
        <% @post.spectators.find_all_by_match_id(@match, :order => 'totalscore desc').each do |spectator| %>
            <% engagement = Engagement.find_by_id(spectator.engagement_id) %>
            
            <div id="participant_details_<%=engagement.invitee.id %>" >
              <% if engagement.invitee.id == @user.id  %>
                  <li id='you'><%= image_tag "user_red.png" %> Me <span style="float:right;padding-right:30px;">[<%= spectator.totalscore %>]</span>
              <% else %>
                  <li><%= image_tag "user_green.png" %> <%= truncate(engagement.invitee.display_name(nil,engagement), 15, "...").titleize %>
                  <span style="float:right;padding-right:30px;">[<%= spectator.totalscore %>]</span>
              <% end  %>

              </li>
           </div>
            <%  viewed_count = viewed_count + 1 if engagement.last_viewed_at != nil %>
       <% end %>
    <%  end %>
    </ul>
   <% if @post.owner.id == @user.id || @user.admin? %>
        <%= viewed_count %> participant(s) have viewed this post.
   <% end %>
   </div>

</div>