<div id="post-content">
  <div id="actual-post-content">

  <fieldset>
      <div id="parent-post">
          <div class="subject">
            <% if @readonlypost %>
              <span style="font-size:120%;margin:5px 0px;"><%= @post.subject %></span><br/>
            <% else %>
                <span style="font-size:120%;margin:5px 0px;"><%= link_to  @post.subject, @post.get_url_for(@user, 'show') %></span><br/>
            <% end %>
            <%=h get_teamname(@match.firstteam).capitalize %> vs <%=h get_teamname(@match.secondteam).capitalize %><br/>
          </div>
          <%=h @match.description %><br/>
          <%=h @match.venue %><br/>
          <%= @match.display_match_start_time %><br/>           
      </div><br/>
  </fieldset><br/>

  <fieldset>
       <%= render :partial => 'result' %>
  </fieldset><br/>
 
  <fieldset>
      <legend style="font-size:150%">Listing Predictions</legend>
      <div id='predictions' style="margin-top:10px;">

          <% @post.spectators.find_all_by_match_id(@match).each do |spectator| %>
            <p>
            <b><%= Engagement.find_by_id(spectator.engagement_id).invitee.display_name %>'s prediction:</b> <br/>
            <% user_predicted = 0 %>
            <% spectator.predicitions.each do |predicition| %>  

                  <% entry = Entry.find_by_id(predicition.entry_id) %>
                  <% user_predicted += predicition.user_predicition %>

                  <% if entry.name == 'winner' || entry.name == 'toss' %>
                      <%= entry.name.capitalize + ": " + Team.find_by_id(predicition.user_predicition).teamname.capitalize + "<br/>" if predicition.user_predicition != -1 %>
                  <% end %>

                  <% if entry.name == 'ts_firstteam' %>
                      <%= "Total Score #{get_teamname(@match.firstteam).capitalize}: " + PredictTotalScore.find_by_id(predicition.user_predicition).label_text + "<br/>" if predicition.user_predicition != -1 %>
                  <% end %>
                  <% if entry.name == 'ts_secondteam' %>
                      <%= "Total Score #{get_teamname(@match.secondteam).capitalize}: " + PredictTotalScore.find_by_id(predicition.user_predicition).label_text + "<br/>" if predicition.user_predicition != -1 %>
                  <% end %>
                  <% if entry.name == 'win_margin_wicket' %>
                      <%= "Win Margin Wicket: " + Predicition::WIN_MARGIN_WICKET[predicition.user_predicition] + "<br/>" if predicition.user_predicition != -1 %>
                  <% end %>
                  <% if entry.name == 'win_margin_score' %>
                      <%= "Win Margin Score: " + Predicition::WIN_MARGIN_SCORE[predicition.user_predicition] + "<br/>" if predicition.user_predicition != -1 %>
                  <% end %>                     

            <% end %>
            <%= "Yet to predict <br/>" if user_predicted < 0 %>
             </p>
          <% end %>
      </div>
  </fieldset>

  <h4 style="border-top:1px solid #DFDFDF;"></h4>
  <% if @match.check_if_match_started %>
     <b style="font-size:16px;">Timeline for predicting this match is over</b><br/><br/>
  <% else %>  
    <h3><%= facebox_link_to 'Cast / Change Predictions', :url => @match.get_url_for(@eng, 'predicitions') %></h3>
  <% end %>
   
  </div>
</div>