<script type="text/javascript">
  function openWindow(url) {
    var w = 480, h = 340;

      if (document.all) {
         /* the following is only available after onLoad */
         w = document.body.clientWidth;
         h = document.body.clientHeight;
      }
      else if (document.layers) {
         w = window.innerWidth;
         h = window.innerHeight;
      }
      var popW = 800, popH = 650;
      var leftPos = (w)/2, topPos = (h)/2;
      window.open(url, 'Authorize','width=' + popW + ',height='+popH+',top='+topPos+ ',left='+leftPos);

      return false;
    }
</script>

<% match_details = "My prediction on http://doosracricket.com/ for the match\n" %>
<div id="post-content" style="padding-bottom:30px;">
    <div id="actual-post-content">
        <div id="display-predicition">
          <fieldset style="margin-bottom:15px;">
              <div id="parent-post" style="padding-bottom:10px;">

                  <div class="subject" style="font-size:20px;"> <%= output = get_teamname(@match.firstteam) + " vs " + get_teamname(@match.secondteam) %><br/>
                  <% match_details << output.to_s %> <% match_details << "\n" %>
                  
                  <%= @match.description %> @ <%=h @match.venue %><br/></div>
                  <%= @match.display_match_start_time %><br/>
                          
                  <% match_details << @match.description %>
                  <% match_details << " @" %>
                  <% match_details << @match.venue %> <% match_details << "\n" %>
                  <% match_details << @match.display_match_start_time %> <% match_details << "\n" %>
                  
              </div>
          </fieldset>

          <% if @match.check_if_match_started %>
             <b style="font-size:18px;padding:13px;color:red;">Timeline for predicting this match is over</b><br/>
          <% else %>
            <% unless @readonlypost %>
                <% eng = Engagement.find_by_post_id_and_user_id(@post.id, @user.id, :include => [:spectators]) %>
                <% user_predicted = 0 %>
                <% eng.spectators.find_by_match_id(@match, :include => :predicitions).predicitions.each do |predicition| %>
                  <% user_predicted += predicition.user_predicition %>
                <% end %>
                <% if user_predicted > 0 && eng.invitee.id == @user.id %>
                    <span style="float:left;padding-left:10px;">
                        <%= link_to_function "Post my predictions on Facebook", "openWindow(\'#{@authorization_url}\')", :class => 'button' %>
                    </span>    
                <% end %>
   
                <span class="button" style="float:right;"><%= facebox_link_to 'Cast / Change Predictions', :url => @match.get_url_for(@eng, 'predicitions') %></span><br/><br/>
            <% end %>
          <% end %>

          <fieldset>
               <%= render :partial => 'spectators/result' %>
          </fieldset>

          <fieldset>
              <legend style="font-size:150%">Listing Predictions</legend>
              <div id='predictions' style="margin-top:10px;">
                  
                  <% predicted_user_count = 0 %>
                  <% @post.engagements.find(:all, :order => 'totalscore desc', :include => :invitee).each do |engagement| %>               
                    <p>
                        <div id="prediction_details_<%= engagement.id %>">
                            <% selected_user = engagement.invitee %>
                            <span style="color:#21519C;font-weight:bold"><%= selected_user.display_name %>'s prediction:</span> <br/>
                            <% predicition_details = "" %>
                            <% user_predicted = 0 %>
                            
                            <% engagement.spectators.find_by_match_id(@match, :include => :predicitions).predicitions.each do |predicition| %>  

                                  <% entry = Entry.find_by_id(predicition.entry_id) %>
                                  <% user_predicted += predicition.user_predicition %>

                                  <% if entry.name == 'winner' || entry.name == 'toss' %>
                                      <%= output = entry.name.capitalize + ": " + Team.find_by_id(predicition.user_predicition).teamname + "<br/>" if predicition.user_predicition != -1 %>
                                      <% predicition_details << output.to_s %>
                                  <% end %>

                                  <% if entry.name == 'ts_firstteam' %>
                                      <%= output = "Total Score #{get_teamname(@match.firstteam)}: " + PredictTotalScore.find_by_id(predicition.user_predicition).label_text + "<br/>" if predicition.user_predicition != -1 %>
                                      <% predicition_details << output.to_s %>
                                  <% end %>

                                  <% if entry.name == 'ts_secondteam' %>
                                      <%= output = "Total Score #{get_teamname(@match.secondteam)}: " + PredictTotalScore.find_by_id(predicition.user_predicition).label_text + "<br/>" if predicition.user_predicition != -1 %>
                                      <% predicition_details << output.to_s %>
                                  <% end %>

                                  <% if entry.name == 'win_margin_wicket' %>
                                      <%= output = "Win Margin Wicket: " + Predicition::WIN_MARGIN_WICKET[predicition.user_predicition] + "<br/>" if predicition.user_predicition != -1 %>
                                      <% predicition_details << output.to_s %>
                                  <% end %>

                                  <% if entry.name == 'win_margin_score' %>
                                      <%= output = "Win Margin Score: " + Predicition::WIN_MARGIN_SCORE[predicition.user_predicition] + "<br/>" if predicition.user_predicition != -1 %>
                                      <% predicition_details << output.to_s %>
                                  <% end %>                     
                            <% end %>                         

                            <% if user_predicted < 0 %>
                                <%= "Yet to predict <br/>" %>
                            <% else %>
                                <% predicted_user_count += 1 %>
                            <% end %>
                        </div>
                        
                        <% if user_predicted > 0 && selected_user.id == @user.id  && !@match.check_if_match_started %>
                           <% session[:prediction] = match_details + predicition_details %>
                           <% session[:user_id] = @user.id %>
                           <span style="float:right;padding-right:10px;">
                                <%= link_to_function "Post my predictions on Facebook", "openWindow(\'#{@authorization_url}\')", :class => 'button general-button' %>
                           </span>    
                           <br/><br/>
                        <% end %>
                    </p>
                  <% end %>
              </div>
          </fieldset>
       </div>
          <% if @user.admin? %>
            <br/>Predicted participants count: <%= predicted_user_count %>
          <% end %>
    </div>
<h4 style="border-top: 1px solid rgb(223, 223, 223);"></h4>
<%= render :partial => 'posts/forum' %>
</div>
