<div id="post-content">
  <div id="actual-post-content">

    <div id="parent-post">
        <div class="subject">            
          <span style="font-size:140%;"><%= link_to  @post.subject.capitalize, @post.get_url_for(@user, 'show') %></span><br/>
          <%=h get_teamname(@match.firstteam) %> vs <%=h get_teamname(@match.secondteam) %> at <%= @match.venue.capitalize %>          
        </div>

        <div id="post-body1">
              <%= @match.description.capitalize %> on <%= @match.date %>
              <%h @match.venue %><br/>
              <% @match.date %><br/>      
              <% @match.starttime %><br/>
        </div> 
  </div><br/>

        <span style="font-size:150%">Match Result</span>
        <div id='predictions'>
            <% match_result = 0 %>
            <%  @category.entries.each do |entry| %>                
                <% result = Result.find_by_match_id_and_entry_id(@match.id, entry.id) %>                
                <% if entry.name == 'winner' || entry.name == 'toss' %>
                    <%= entry.name.capitalize + ": " + Team.find_by_id(result.result).teamname + "<br/>" if result.result != 0 %>
                    <% match_result += result.result %>                    
                <% end %>
            <% end %>
            <%= "Results not yet available<br/>" if match_result == 0 %><br/>
        </div>
        <h4 style="border-top:1px solid #000;"></h4>

        <span style="font-size:150%">Listing Predictions</span><br/><br/>
        <div id='predictions'>
            <% @post.spectators.find_all_by_match_id(@match).each do |spectator| %>
              <b><%= Engagement.find_by_id(spectator.engagement_id).invitee.display_name %>'s prediction:</b> <br/>
              <% user_predicted = 0 %>
              <% spectator.predicitions.each do |predicition| %>                
                    <% entry = Entry.find_by_id(predicition.entry_id) %>
                    <% if entry.name == 'winner' || entry.name == 'toss' %>
                        <%= entry.name.capitalize + ": " + Team.find_by_id(predicition.user_predicition).teamname + "<br/>" if predicition.user_predicition != 0 %>
                        <% user_predicted += predicition.user_predicition %>
                    <% end %>
              <% end %>
              <%= "Yet to predict <br/>" if user_predicted == 0 %><br/>
            <% end %>
        </div>
  
  <h4 style="border-top:1px solid #000;"></h4>
  <h3><%= facebox_link_to 'Cast / Edit Predictions', :url => @match.get_url_for(@eng, 'predicitions') %></h3>
  </div>
</div>