<%= javascript_include_merged :proto %>

<div id="home-content">
  <%= render :partial => 'show' %>
  <%= render :partial => 'contests' %>
  <%= render :partial => 'contest_standing' %>
  <%= render :partial => 'match_standing' %>
</div>