<div class="tc-row" style="height:120px;">

    <ul id="matches-list">
        <% first_team = "/images/" + "#{get_teamname(match.firstteam)}"  + ".png" %>
        <% second_team = "/images/" + "#{get_teamname(match.secondteam)}"  + ".png" %>

        <% if @readonlypost %>
            <li><span style="color:#2D392D;font-weight:bold"><%= link_to "#{image_tag(get_teamflag(match.firstteam))}  #{get_teamname(match.firstteam)} vs #{image_tag(get_teamflag(match.secondteam))} #{get_teamname(match.secondteam)}</span><br/>
                  #{match.description} @ #{match.venue.capitalize} <br/>
                  <span style=font-size:80%;>#{image_tag('/images/date.png')}  #{match.display_match_start_time}</span>", @post.get_readonly_url_with_match_id(match, 'show') %>
        <% else %>
            <li><span style="color:#2D392D;font-weight:bold"><%= link_to "#{image_tag(get_teamflag(match.firstteam))}  #{get_teamname(match.firstteam)} vs #{image_tag(get_teamflag(match.secondteam))} #{get_teamname(match.secondteam)}</span><br/>
                    #{match.description} @ #{match.venue.capitalize} <br/>
                    <span style=font-size:80%;>#{image_tag('/images/date.png')}  #{match.display_match_start_time}</span>", @post.get_url_for_with_match_id(@user, match, 'show') %>
        <% end %>
    </ul> 

    <span style="margin-left:5px;text-decoration:underline;">
      <% if match.check_if_match_started %>
          <% if @readonlypost %>
              <% x = @post.get_readonly_url_with_match_id(match, 'result') %>
              <%= facebox_link_to "Result: #{match.match_result}", :url => @post.get_readonly_url_with_match_id(match, 'result') %>
          <% else %>
              <%= facebox_link_to "Result: #{match.match_result}", :url => match.get_url_for(@eng, 'result') %>
          <% end %>                 
      <% else %>
        <% if @readonlypost %>
              <%= facebox_link_to 'Cast / Update Predictions', :url => @post.get_readonly_url_with_match_id(match, 'predicitions') %>
        <% else %>
            <% predicition = @eng.spectators.find_by_match_id(match, :include => :predicitions).predicitions.find(:first) %>
            <% if predicition && predicition.user_predicition > 0 %>
                <%= facebox_link_to 'Update Predictions', :url => match.get_url_for(@eng, 'predicitions') %>
            <% else %>
                <%= facebox_link_to 'Cast Predictions', :url => match.get_url_for(@eng, 'predicitions') %>
            <% end %>           
        <% end %>
      <% end %>
    </span>  

</div>
