<div id="matches">
   <ul id="matches-list">
      <% first_team = "/images/" + "#{get_teamname(match.firstteam)}"  + ".png" %>
      <% second_team = "/images/" + "#{get_teamname(match.secondteam)}"  + ".png" %>
      
      <% if @readonlypost %>
          <li><span style="color:#2D392D;font-weight:bold"><%= link_to "#{image_tag(get_teamflag(match.firstteam))}  #{get_teamname(match.firstteam).capitalize} vs #{image_tag(get_teamflag(match.secondteam))} #{get_teamname(match.secondteam).capitalize}</span><br/>
                #{match.description} @ #{match.venue.capitalize} <br/>
                <span style=font-size:80%;>#{image_tag('/images/date.png')}  #{match.display_match_start_time}</span>", match.get_readonly_url('show') %><br/>
      <% else %>
          <li><span style="color:#2D392D;font-weight:bold"><%= link_to "#{image_tag(get_teamflag(match.firstteam))}  #{get_teamname(match.firstteam).capitalize} vs #{image_tag(get_teamflag(match.secondteam))} #{get_teamname(match.secondteam).capitalize}</span><br/>
                  #{match.description} @ #{match.venue.capitalize} <br/>
                  <span style=font-size:80%;>#{image_tag('/images/date.png')}  #{match.display_match_start_time}</span>", match.get_url_for(@eng, 'show') %><br/>
      <% end %>
      
      <span class="button button-predicition" style="float:left;margin-top:5px;">
        <% if match.check_if_match_started %>
            <%= facebox_link_to "Result: #{match.match_result}", :url => match.get_url_for(@eng, 'result') %>
        <% else %>
          <% if @readonlypost %>
                <%= facebox_link_to 'Cast / Change Predictions', :url => match.get_readonly_url('predicitions') %>
          <% else %>
                <%= facebox_link_to 'Cast / Change Predictions', :url => match.get_url_for(@eng, 'predicitions') %>
          <% end %>
        <% end %>
      </span>  
   </ul>
</div>