  <div id="name-request-status" style="color:#ff0000;"></div>

  <% if is_fullname_missing(@user) %>
      <h3 style ="color: #2B1E24;">Please enter your first and last name</h3>
  <% elsif @user.engagements.count > 1 %>
      <h4 style ="color: #2B1E24;">Great! you are now part of more than one contest! Get access to Dashboard and view them all in one place by choosing a Password.</h4>
  <% end %>

  <%  form_remote_tag :url => { :controller => 'users', :action => "update_name", :uid => params[:uid], :pid => params[:pid] },
            :before => "Element.show('n-spinner');",
            :complete => "Element.hide('n-spinner')" do %>

      <% if is_fullname_missing(@user) %>
          <%=  label_tag 'First Name' %>
          <%= text_field_tag :first_name ,"",  :class =>"mceNoEditor",:size => 20, :maxlength => 20 %>
          <%=  label_tag 'Last Name' %>
          <%= text_field_tag :last_name ,"",  :class =>"mceNoEditor",:size => 20, :maxlength => 20  %><br/>
      <% end %>
     
      <% if @user.engagements.count > 1 %>
          <p>
              <%= label_tag 'Password' %>
              <%= password_field_tag :password ,"", :size => 20, :maxlength => 20  %>
          </p>
      <% end %>

      <p>
          <%= submit_tag 'Save' %><%= image_tag 'spinner.gif', :id=>"n-spinner", :style=>"display:none;" %>
      </p>
  <% end %>

<% if is_fullname_missing(@user) %>
      Name will be shown only to the participants of this Contest.
<% end %>
