<div id="right">
     <div id="post-settings">
         <span style="font-size:14px;font-weight:bold;">Settings</span>

         <%= link_to_function( (image_tag ("bullet_arrow_down.png")),  :id => "p_more_link_down") do |page|
                page.visual_effect  :toggle_blind, "post-settings-form"
                page.show "p_more_link_up"
                page.hide "p_more_link_down"
         end  %>

         <%= link_to_function( (image_tag ("bullet_arrow_up.png")),  :id => "p_more_link_up", :style => 'display:none;') do |page|
                page.visual_effect  :toggle_blind, "post-settings-form"
                page.hide "p_more_link_up"
                page.show "p_more_link_down"
         end  %>

         <div id="post-settings-form"  style="display:none;">        
                <% eng = get_user_engagement_from_post(@user, @post) %>

                <%  form_remote_tag :url => { :action => "update_settings", :uid => params[:uid], :pid => params[:pid], :eid => eng.id },
                      :before => "Element.show('p-spinner');Element.hide('post-settings-status');",
                      :complete => "Element.hide('p-spinner');Element.show('post-settings-status');", :update => 'post-settings-status' do %>
                     <p>
                       <%= check_box_tag :notify_me, 'checked', eng.notify_me %><%= label_tag :notify_me, " Comment Notifications Enabled" %>
                     </p>
                     <% if @post.owner.id == @user.id %>
                     <p>
                       <%= check_box_tag :allow_others_to_invite, 'checked', @post.allow_others_to_invite %><%= label_tag :allow_others_to_invite, " Allow Participants to Invite" %>
                     </p>
                     <% end %>
                     <p>
                        <%= submit_tag 'Save' %><%= image_tag 'spinner.gif', :id=>"p-spinner", :style=>"display:none;" %>
                     </p>
                <% end %>        

                <div id="post-settings-status" style="text-align:center;color:#0B84E8;"></div>
         </div>
     </div>

  <div id="participants">
    <h4 style="border-bottom:1px solid black;"><%= image_tag "group.png" %>
      
       <%= link_to_remote ("Participants <span id='participant-count'>(#{get_joined_participants_count(@post) }) / Score</span>" + image_tag("bullet_arrow_down.png")), :url => { :action => :load_all_participants, :uid => @user.unique_id, :pid => @post.unique_id },:update => 'list-all-p' %></h4>
           <% if @user.admin? || (@post.owner.id == @user.id && !@post.engagements.empty? && @user.admin?) %>
              <div id="all-notifications" style="margin-bottom:10px;display:none;">
                  <% if @post.notification_status %>
                    <%= button_to_remote 'Disable All Notifications', :url => {:controller => 'engagements', :action => 'set_all_notifications', :post_id => @post.id, :set => 'false'} %>
                  <% else %>
                    <%= button_to_remote 'Enable All Notifications', :url => {:controller => 'engagements', :action => 'set_all_notifications', :post_id => @post.id, :set => 'true'} %>
                  <% end %>
              </div>
           <% end %>
  
         <div id="list-all-p"></div>
    </div>
</div>
