 <% viewed_count = 0 %>
   <ul id="participants-list">
    <% unless @post.engagements.empty? %>
        <% @post.engagements.find(:all, :order => 'totalscore desc', :include => :invitee).each do |engagement| %>
              <div id="participant_details_<%=engagement.invitee.id %>" >

              <% if engagement.invitee.id == @user.id  %>
                  <li id='you'><%= image_tag "user_red.png" %> Me (Score - <%= engagement.totalscore %>)
              <% else %>
                    <% if engagement.invitee.member? %>
                      <li><%= image_tag "user_green.png" %> <%=  engagement.invitee.display_name(nil,engagement).titleize %>
                    <% else %>
                      <li><%= image_tag "user_green.png" %> <%=  engagement.invitee.display_name(nil,engagement).titleize %>
                    <% end  %>
                    (Score - <%= engagement.totalscore %>)
              <% end  %>

              <!-- common to both -->
              <%= link_to_function( (image_tag ("bullet_arrow_down.png")),  :id => "more_link_down_#{engagement.invitee.id}") do |page|
                      page.visual_effect  :toggle_blind, "user-details_#{engagement.invitee.id}"
                      page.show "more_link_up_#{engagement.invitee.id}"
                      page.hide "more_link_down_#{engagement.invitee.id}"
                      #page.replace_html 'more_link', "#{image_tag "bullet_arrow_up.png"}"
               end  %>

               <%= link_to_function( (image_tag ("bullet_arrow_up.png")),  :id => "more_link_up_#{engagement.invitee.id}", :style => 'display:none;') do |page|
                      page.visual_effect  :toggle_blind, "user-details_#{engagement.invitee.id}"
                      page.hide "more_link_up_#{engagement.invitee.id}"
                      page.show "more_link_down_#{engagement.invitee.id}"
               end  %>

               <div id="user-details_<%=engagement.invitee.id %>"  style="display:none;">
                    <% if engagement.invitee.avatar? %>
                      <%= image_tag engagement.invitee.avatar.url(:thumb) %>
                    <% else %>
                      No photo available <br/>
                    <% end %>

                    <% if @post.owner.id == @user.id && engagement.invitee.id != @user.id %>
                        <div id="resend_<%= engagement.invitee.id %>" style="float:right;margin-bottom:10px;">
                            <%= button_to_remote 'Resend Invite', :url => {:controller => 'engagements', :action => 'resend_invite', :id => engagement.id, :post_id => @post.id} %>
                        </div>
                    <% end %>

                    <% if @post.owner.id == @user.id && engagement.invitee.id != @user.id %>
                        <div id="exclude_<%= engagement.invitee.id %>" style="float:left;margin-bottom:10px;">
                            <%= button_to_remote 'Exclude', :url => {:controller => 'engagements', :action => 'exclude', :id => engagement.id } %>
                       </div>
                    <% end %>

                    <% if engagement.invitee.id == @user.id  %>
                          <div id="notification" style="float:right;margin-bottom:10px;">
                              <% if engagement.notify_me? %>
                                <%= button_to_remote 'Disable Notification', :url => {:controller => 'engagements', :action => 'set_notification', :id => engagement.id, :set => 'false'} %>
                              <% else %>
                                <%= button_to_remote 'Enable Notification', :url => {:controller => 'engagements', :action => 'set_notification', :id => engagement.id, :set => 'true'} %>
                             <% end %>
                         </div>
                     <% end %>

                     <div class ="user-bio">
                          <b>Twitter Profile:</b><br/>
                           <%= engagement.invitee.screen_name.blank? ? "" : "http://twitter.com/" + engagement.invitee.screen_name %><br/>
                          <b>Blog:</b><br/>
                          <%= link_to engagement.invitee.blog_link, engagement.invitee.blog_link if !engagement.invitee.blog_link.nil? %> <br/>
                          <b>Facebook Profile:</b><br/>
                          <%=h engagement.invitee.facebook_link %><br/>
                          <b>LinkedIn Profile:</b><br/>
                          <%=h engagement.invitee.linked_in_link %><br/>
                     </div>
                 </div>
              </li>
           </div>
            <%  viewed_count = viewed_count + 1 if engagement.last_viewed_at != nil %>
       <% end %>
    <%  end %>
    </ul>
   <% if @user.admin? %>
   <%= viewed_count %> participant(s) have viewed this post.
   <% end %>
