
<h2>Statistics</h2>

<h3><%= link_to 'Click here', :controller => 'contacts', :action => :migrate_existing_contacts %> to migrate existing contacts (Caution! Needs to be done only once)</h3>

<ul>

  <li>Total Members(by sql query):      <%= @members.size %></li>
  <li>Total Members(query simplified):      <%= @members1.size %></li>
  <li>Total Users:        <%= @users.count %></li>
  <li>Total Posts:        <%= @posts.count %></li>
  <li>Total Participants: <%= @participants.count %></li>
  <li>Total Comments:     <%= @comments.count %></li>
</ul>

<table border=1>
  <tr>
      <th>Post Id</th>
      <th>Created at</th>
      <th>Participants</th>
      <th>Comments</th>
      <th>Tags</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
        <td><%= post.id %></td>
        <td><%= post.created_at.to_s(:long) %></td>
        <td><%= post.participants.count %></td>
        <td><%= post.comments.count %></td>
        <td><%= post.tag_list %></td>
    </tr>
  <% end %>
</table>
