<h2>Statistics</h2>
<fieldset>
    <p>Total Members(by sql query):      <%= @members.size %></p>
    <p>Total Members(query simplified):  <%= @members1.size %></p>
    <p>Total Users:                      <%= @users.count %></p>
    <p>Total Posts:                      <%= @posts.count %></p>
    <p>Total Participants:               <%= @participants.count %></p>
    <p>Total Comments:                   <%= @comments.count %></p>

</fieldset>

<fieldset>
    <table border=1>
      <tr>
          <th>Post Id</th>
          <th>Created at</th>
          <th>Participants</th>
          <th>Comments</th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
            <td><%= post.id %></td>
            <td><%= post.created_at.to_s(:long) %></td>
            <td><%= post.participants.count %></td>
            <td><%= post.comments.count %></td>
        </tr>
      <% end %>
    </table>   
</fieldset>