<h2>Statistics</h2>
<fieldset>
    <p>Total Members(by sql query):      <%= @members.size %></p>
    <p>Total Users:                      <%= @users.count %></p>
    <p>Total Posts:                      <%= @posts.count %></p>
    <p>Total Participants:               <%= @participants.count %></p>
    <p>Total Comments:                   <%= @comments.count %></p>

</fieldset>



