<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages :header_message => "Invalid Post!", :message => "Please address the following fields:", :header_tag => :h3 %>

  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :tag_list, "Tags" %><br />
    <%= f.text_field :tag_list , :size=> 80, :maxlength => 80 %> <br/>
    <span class ="info"> (space separated) </span>
  </p>


  <p>
    <%= f.label :unique_id %><br />
    <%= f.text_field :unique_id %>
  </p>
  <p>
    <%= f.label :privacy %><br />
    <%= f.check_box :privacy %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>