<script type="text/javascript">
        $j(function(){
           $j('#tabs').tabs();
      });
 </script>
<style type="text/css">
  a.join-link, a.join-link:hover, a.join-link:visited{
    color: red;
    margin-left:10px;
}
</style>
<br/>
<div id="dashboard-view">
<% link_to image_tag('/images/fixture.png'), contests_path, :method => :get, :class => 'submit' %>
<%= button_to 'Current Series', contests_path, :method => :get, :class => 'button current-fixture-button' %><br/><br/><br/>

<div id="tabs">
      <ul>
              <li><a href="#joined-posts">My Contests</a></li>
              <li><a href="#shared-posts">Shared Contests</a></li>
      </ul>

<div id='shared-posts'> 
  
<% count = 1 %>
<% @shared_posts.each do |post| %>
  <% shared_post = post.get_shared_post(@user) %>
  <% shared_by = User.find(shared_post.shared_by) %>
  <div class="index"></div>
   <div class="<%= cycle('listing-line-odd', 'listing-line-even') %> post-item">
    <span style="color:green"><%  "#{count}." %> <% count = count + 1 %></span>
    <div class ="read-post"><%= link_to  h(post.subject), post.get_readonly_url(shared_by)  %></div>

    <span class="poststat"><%= link_to "#{get_comments_count(post)} | #{get_participants_count(post)} | " + "Updated "+ "#{time_ago_in_words(post.updated_at)}" + " ago " + "by #{last_updated_by(post)}  | " + "Shared by #{shared_by.display_name}" , post.get_readonly_url(shared_by), :class => 'dashboard-comments' %>
    <%= link_to "Join" , post.get_join_from_ev_url_for(shared_post), :class => 'join-link' %>
    </span>

    <span class="timestamp">started by <%= post.owner.id == current_user.id ? "me" : post.owner.display_name %>
    </span>

   </div>
<% end %>
  
</div>

<div id='joined-posts'>
  
<% count = 1 %>
<% @posts.each do |post| %>
  <div class="index"></div>
   <div class="<%= cycle('listing-line-odd', 'listing-line-even') %> post-item">
    <span style="color:green"><%  "#{count}." %> <% count = count + 1 %></span>    
    <div><%= link_to  h(post.subject), post.get_url_for(@user,'show'),:class => "#{post.unread_comments_for(@user) > 0 ? "unread-post" : "read-post"}"   %></div>

    <span class="poststat"><%= link_to "#{get_comments_count(post)} | #{get_participants_count(post)} | " + "Updated "+ "#{time_ago_in_words(post.updated_at)}" + " ago " + "by #{last_updated_by(post)}" , post.get_url_for(@user,'show'), :class => 'dashboard-comments' %></span>

    <span class="timestamp">started by <%= post.owner.email == current_user.email ? "me" : post.owner.display_name %>
      <% if post.owner == @user %>
          <%= link_to '[X]', post, :confirm => 'Are you sure? This will wipe out this contest and all of its comments.', :method => :delete %>
      <% end %>
    </span>

   </div>
<% end %>
  
</div>
</div>
</div>