
<h2><%= @contest.name %>: Own this Contest</h2>

<% form_for([@contest, @post] , :html => { :multipart => true }) do |f| %>
  <%= f.error_messages :header_message => "Invalid Post!", :message => "Please address the following fields:", :header_tag => :h3 %>
  <% if current_user.nil? || !current_user.activated? %>
   <p>
    <%= label_tag "Your Email" %> (required) <br />    
    <%= text_field_tag :email,'', :size => 91  %>
  </p>
  <% end %>
  <p>
    <%= f.label :subject, "Contest Name" %> (required) <br />
    <%= f.text_field :subject, :size=> 91, :maxlength => 80 %>
  </p>
  <p>
    <%= f.label :description, "Contest Description" %>
    <%= f.text_area :description, :cols => 83, :rows => 10  %>
  </p>
  <p>
    <%= f.label :url , "Link to a Website" %> (optional)<br />
    <%= f.text_field :url , :size=> 91, :maxlength => 180 %>
  </p>

  <%= link_to_function "More >>" do |page|
     page.toggle 'optional'
   end %>
  
  <div id="optional" style="display:none;">
      <p>
        <%= f.label :tag_list, "Tags" %> (optional)<br />
        <span class ="info">(separate multiple tags with comma) Ex: worldcup, ashes, 20/20</span>
        <%= f.text_field :tag_list , :size=> 91, :maxlength => 80 %><br/>
      </p>

      <p>
        <%= f.check_box :allow_others_to_invite %><%= f.label :allow_others_to_invite, " Allow Participants to Invite"%>
      </p>

      <p>
        <%= f.label :avatar, "Attach Picture: " %> (optional)<br />
        <%= f.file_field :avatar, :size=> 81 %>
      </p>
  </div>

  <p>
    <%= f.submit 'Create', :class => 'submit' %>
  </p>
<% end %>

