<h1>New predict team total score</h1>

<% form_for(@predict_total_score) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :label_text %><br />
    <%= f.text_field :label_text %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', predict_total_scores_path %>