<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="Predict, Discuss, Win and Show your expertise on cricket matches with friends or world."/>
  <meta content="Predict match results and get social with your friends on cricket. Join a open contest or start a private contest for your group" name="keywords"/>

  <title><%= title_tag_line %> </title>
 
  <%= stylesheet_link_merged :base %>

  <%= javascript_include_merged :proto %>
  <%= javascript_include_merged :rest  %>
   <script src="/javascripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
  <script type="text/javascript">
    var tinymce_advanced_options = {
  mode : "textareas",
  theme : "advanced",
  editor_deselector : "mceNoEditor",
  skin : "o2k7",
  skin_variant : "black",
  theme_advanced_resizing_min_width : 500,
  theme_advanced_resizing_max_width : 800,
  plugins : "paste,safari",

  width: "600",
  button_title_map: false,
  apply_source_formatting: true,
  theme_advanced_toolbar_align: "left",

  theme_advanced_buttons1: "",
  theme_advanced_buttons2: "",
  theme_advanced_buttons3: "", //you have to have this to get an empty third row otherwise you get some elements
  theme_advanced_toolbar_location: "bottom",
  theme_advanced_resizing : true,
  theme_advanced_blockformats : "p,h2,h3,blockquote"
};

tinyMCE.init(tinymce_advanced_options);
  </script>
  <script src="/javascripts/facebox.js" type="text/javascript"></script>
 
  <script type="text/javascript">
        jQuery.noConflict();
        var $j = jQuery;
     </script>
  <script  type="text/javascript">
  $j(function(){  // $(document).ready shorthand
     $j('#flash-notice').fadeOut(8000);
});
  </script>
</head>
<body>

<div id="header">
       <!--[if lt IE 7]>
     <div class="banner" style="height:33px; padding:10px 20px 7px 30px;background-color:#ff0000;">
     It appears you are using a version of Internet Explorer that we do not support. Please use IE 7 or above.
    </div> <![endif]--> 

    <strong class="logo">
       <a href="/"><%= image_tag "doosra-3.png", :size => "40x50" %></a>  
    </strong>
    <span style="color:#21519C;font-weight:bold;">Beta</span>
    
    <ul>
      <li><% link_to "Home", root_url %></li>
      
      <% if current_user && current_user.activated? %>
           <%= render :partial => 'posts/member_band_actions', :locals => { :applayout => true} %>
      <% else %>
           <li><%= link_to "World Cup 2011", world_cup_url %></li>  
           <li><%= link_to "Blog", "http://blog.doosracricket.com/" %></li>
           <li><%= link_to "Register", new_user_path %> </li>
           <li><%= link_to "Login", login_path %></li>    
       <% end %>
       
    </ul>

    <br/><br/><br/>
    <div class="banner" style="height1:33px; padding:5px 20px 7px 10px;">
       <%= tag_line %>
    </div>  
 

</div>

<% if controller.action_name == 'dashboard' %>
    <span style="color:#21519C;padding-left:100px;">
        <script type="text/javascript">
           // Array of day names
           var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday",
           "Thursday","Friday","Saturday");
           var now = new Date();
           document.write("Happy " + dayNames[now.getDay()] + ".");
        </script>
    </span>
 <% end %> 

<% if flash[:notice] %>
  <div id="flash-notice">
      <p><%= flash[:notice] %><%  flash[:notice] = nil %></p>
  </div>
<% end %>
<% if flash[:error] %>
  <div id="flash-error">
      <p><%= flash[:error] %><%  flash[:error] = nil %></p>
  </div>
<% end %>

<% if flash[:status] %>
  <div id="flash-status">
      <p><%= flash[:status] %><%  flash[:status] = nil %></p>
  </div>
<% end %>
<% if controller.action_name == 'dashboard' || controller.action_name == 'how_to1' || 
      (controller_name != 'contacts' && controller.action_name == 'index1') %>
    <div id="content">
<% else %>
     <div id="gen-content">
<% end %>

<style type="text/css">

  #actual-post-content {
      padding:10px 10px;
      width:670px;
      min-height1:475px;
  }

  .tc-row {
      -moz-background-clip:border;
      -moz-background-inline-policy:continuous;
      -moz-background-origin:padding;
      background1:#FFFFFF none repeat scroll 0 0;
      border-bottom:1px solid #709CB2;
      height:32px;
      padding:4px 2px;
      position:relative;
      text-align:left;
  }

  .tc-row-rank {
      -moz-background-clip:border;
      -moz-background-inline-policy:continuous;
      -moz-background-origin:padding;
      background:#DDDDDD none repeat scroll 0 0;
      color:#FFFFFF;
      display:inline-block;
      float:left;
      font-size:22px;
      font-weight:bold;
      margin-right:2px;
      padding-top:2px;
      text-align:center;
      width:42px;
      height:32px;
  }

#participants{
    -moz-border-radius:6px; 
    background-color:#fff;
    background-color1:#EDEFF4;
    margin-top1:10px;
    padding:2px;
    color: #2D392D;
    -moz-box-shadow1:2px 2px 14px #4E9494;
    border:none;
}
#participants a{
  color:#0B84E8;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  text-decoration:none;
}

#dashboard-image { 
    position:absolute;
    left:100px;
    width: 440px;
    height: 280px;
    border:1px solid #709CB2;
}

#overall-score {
    position:absolute;
    clear:both;
    left:870px;
    width:270px;
    height:280px;
    font-size:14px;
    overflow:auto;
    background1:#EDEFF4;
    background:#fff;
    line-height:1.5;
    border:1px solid #709CB2;
}

#whatisit-text { 
    position:absolute;
    left:540px;
    width: 300px;
    height1: 253px;
    height: 280px;
    background1: #44accf;
    background: #FFEFC6;
    text-align:center;
    color:#21519C;
    font-size:20px;
    font-weight:bold; 
    border:1px solid #709CB2;  
}

#right {
    float:left;
    width:80px;
    min-width:246px;
    margin: 8px 0px;
    color:#2D392D;
    padding: 0px 4px;
}

#left {
    position: absolute;
    left: 0px;
    color: #black;
    margin:5px 10px;
    padding: 0px 4px;  /* top and bottom is 0 so empty div does not show up */
    width:247px;
}

a {
    color:#336699;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    text-decoration:none;
}

#world-cup-comming-soon {
    -moz-border-radius:6px;  
    position:absolute;
    top:440px;
    left:870px;
    width:249px;
    font-size:15px;
    overflow:auto;
    line-height:1.5em;
    padding:12px;
    background:#FFEFC6;
    color:#21519C;
    border:1px solid #709CB2;
    text-align:center;
}

#sponsor {
    -moz-border-radius:6px;  
    position:absolute;
    clear:both;
    top1:822px;
    top:553px;
    left:870px;
    width:249px;
    font-size:15px;
    height:90px;
    overflow:auto;
    background:#fff;
    line-height:1.3em;
    padding:12px;
    background:#FFEFC6;
    border:1px solid #709CB2;
}

#facebook-box {
    -moz-border-radius1:6px;
    position:absolute;
    left:870px;
    top:687px;
    width:270px;
    height:250px;
    font-size:14px;
    background:#fff;
    border1:1px solid #709CB2;
}

#display-contests {
    -moz-border-radius:6px;
    position:absolute;
    clear:both;
    left:100px;
    top:440px;
    width:540px;
    background:#fff;
    border:1px solid #709CB2;    
}

#live-score {
    position:absolute;
    left:640px;
    width: 220px;
    height: 250px;
    top:440px;
    background1: #44accf;
    background1: #FFEFC6;
    text-align:center;
    color:#21519C;
    font-size:20px;
    font-weight:bold;
}

#display-winners {
    -moz-border-radius:6px;
    position:absolute;
    clear:both;
    left:100px;
    top:870px;
    top1:780px;
    width:540px;
    background:#fff;
    border:1px solid #709CB2;
    height:164px;
    overflow:auto;
}

#footer-dashboard {
    position:absolute;
    top:1100px;
    text-align:center;
    width:710px;
    clear:both;
    padding:15px 20px 15px 15px;
    text-align:center;
    background:#2D392D;
    width:100%;
    color: #fff;
    font-size:15px;
}
html,body {
  font-size: 14px;
  font-family: Sans-Serif,Arial,'Lucida Grande';
  color:#2b1e24;
  padding:0px;
  margin:0px;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background1:#91CC8A none repeat scroll 0 0;
  background:#fff none repeat scroll 0 0;
  background1:url("/images/fieldset.gif") repeat-x scroll left bottom #F8FDEF;
  width: 100%;
}
#post-content{
  float: left;
  margin: 5px 275px;
  margin:17px;
  margin-left:285px;
  overflow:hidden;
  text-align:left;
  color: #000;
  width: 690px;
  background-color: #fff;
  border:1px solid #709CB2
  /* background-repeat: repeat-y;  background-image: url('/images/content-bg.png'); */
  /* background-image: url(/images/middle.png); background-repeat: repeat-y; width: 898px; */
}
#gen-content {
  margin: 0 275px;
  padding: 2px 7px;
  background-color: #fff;
  font-size: 14px;
  margin:0 auto;
  text-align:left;
  width:925px;
  border:1px solid #709CB2;
}

</style>

<%= yield %>
       
</div>
  <% if current_user %>
      <span id="feedback"><% facebox_link_to "Feedback",  :url => DOMAIN + "experiences/capture_experience?user_id=#{current_user.id}" %></span>
      <span id="feedback"><%= facebox_link_to image_tag('/images/feedback.png', :size => "23x90"), :url => DOMAIN + "experiences/capture_experience?user_id=#{current_user.id}" %></span>
  <% end %>
  
  <% if controller.action_name != "dashboard" %>
    <div id="footer-new"><%= render 'layouts/footer' %></div>
  <% end %>
  
</body>
</html>
