<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="Predict results and get social with your friends on cricket."/>
  <meta content="Predict, Discuss, Win and Show your expertise on cricket matches publicly or privately." name="keywords"/>

  <title><%= title_tag_line %></title>

  <%= stylesheet_link_merged :base %>
  <%= javascript_include_merged :proto %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19617071-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<body onload="clearElements('comment_form')">

<div id="wide-header">
      <!--[if lt IE 7]>
     <div class="banner" style="height:33px; padding:10px 20px 7px 30px;background-color:#ff0000;">
     It appears you are using a version of Internet Explorer that we do not support. Please use IE 7 or above.
    </div> <![endif]--> 

    <strong class="logo">
       <a href="/"><%= image_tag "doosra-3.png", :size => "40x50" %></a>
       <% link_to "DOOSRA CRICKET", root_path %>
    </strong>
    <span style="color:#21519C;font-weight:bold;">Beta</span>
    <a href="/"><% image_tag "doosra-logo-image.jpg", :size => "50x50" %></a>

    <ul id="band-actions">
      <li><% link_to "Home", root_url %></li>  
      <% if current_user && current_user.activated? %>
          <%= render :partial => 'posts/member_band_actions', :locals => { :applayout => nil} %>
      <% else %>
          <% if @readonlypost %>
              <li><%= link_to "Register", new_user_path %> </li>
              <li><%= link_to "#{image_tag('/images/lock.png')} Login", login_path %></li>    
           <% else %>
              <span style="font-size:16px;"><li id='non-member-name'><%= "Welcome #{@user.display_name}" %></li>
              <li><% link_to "Become a Member", new_user_path %></li>
              <li><%= link_to "Current Fixtures", contests_path %></li></span>
          <% end %>
      <% end %>
    </ul>

    <br/><br/><br/>
    <div class="banner" style="float:left;padding:0px 20px 4px 10px;">
       <%= tag_line %><br/><br/>
    </div>  
</div>

  <div id="widgets">
    <ul>
      <li id="invite-status"></li>
      <% if @readonlypost %>
           <% if @contest.contest_current == true %>            
               <span class='button' style="float:left;padding-right:10px;">
                   <% if current_user && current_user.activated? || !@user.unique_id.nil? %>
                       <%= image_tag "group_add.png" %> <%= link_to "Join this Contest",  :controller => 'engagements', :action => 'join_conversation_facebox', :pid => @post.unique_id, :iid => @inviter_unique_id, :uid => @user.unique_id %>
                   <% else %>
                       <%= image_tag "group_add.png" %> <%= facebox_link_to "Join this Contest",  :url => @post.get_url_for_jc_facebox(@inviter_unique_id) %>
                   <% end %>
               </span>   
               <span class='button' style="float:left;margin-left:20px;padding-right:10px;"><%= link_to 'Start Private Contest', new_contest_post_path(@contest) %></span>
           <% end %>
      <% else %>
          <li><% link_to "Add a Match",  :controller => 'matches', :action => 'new',  :post_id => @post.id, :user_id => @user.id %></li>              

          <% if @post.allow_others_to_invite || @post.owner.id == current_user.id %>
              <span class='button' style="float:left;padding-right:10px;margin-right:20px;"><%= image_tag "group_add.png" %> <%= facebox_link_to "Invite Friends",  :url => @post.get_url_for(@user, 'send_invites') %></span>        
              <span class='button' style="float:left;padding-right:10px;margin-right:20px;"><%= image_tag "group_add.png" %> <%= facebox_link_to "Share Open Invites",  :url => @post.get_url_for(@user,'share_open_invites') %></span>
          <% end %>
      <% end %>
      
      <% @post.prizes.each do |prize| %>
            <span style="font-size:18px;padding:15px;color:#fff;"><%= prize.title %></span><br/>
      <% end %>
          
    </ul>
  </div>
  
  <% unless @comment_notice.blank? %>
  <div style="background-color:#ADEAED;color:#000;height:24px;padding-top:6px;text-align:center;font-weight:bold;">
    <%= @comment_notice %>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div id="flash-notice">
    <p><%= flash[:notice] %><%  flash[:notice] = nil %></p>
  </div>
<% end %>
  <% if flash[:error] %>
  <div id="flash-error">
    <p><%= flash[:error] %><%  flash[:error] = nil %></p>
  </div>
<% end %>
  <% if @user.non_member? && !@readonlypost && (is_fullname_missing(@user) || @user.engagements.count > 1)  %>
  <div id="name-request">
    <%= render :partial => 'posts/name_request' %>
  </div>
  <% end %>  
<%= yield  %>
<span id="feedback"><% facebox_link_to "Feedback",  :url => DOMAIN + "experiences/capture_experience?user_id=#{@user.id}" %></span>
<span id="feedback"><%= facebox_link_to image_tag('/images/feedback.png', :size => "23x90"), :url => DOMAIN + "experiences/capture_experience?user_id=#{@user.id}" %></span>
  
  <% if controller.action_name != "dashboard" %>
      <div id="footer-new"><%= render 'layouts/footer' %></div>
  <% end %>


  <%= javascript_include_merged :rest %>
  <script type="text/javascript" src="http://www.plaxo.com/css/m/js/util.js"></script>
  <script type="text/javascript" src="http://www.plaxo.com/css/m/js/basic.js"></script>
  <script type="text/javascript" src="http://www.plaxo.com/css/m/js/abc_launcher.js"></script>  
</body>
</html>
